*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{
    border: 1px solid black;
    width: 300px;
    height: 200px;
    background-color: aliceblue;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content-container{
    height: 90px;
    width: 50%px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 5px solid black; */
}
#stopBtn{
padding: 5px;
width: 70px;
font-size: 16px;
font-weight: 600;
background-color: red;
border: none;
border-radius: 5px;
cursor: pointer;
}
#startBtn{
    padding: 5px;
    width: 70px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(7, 172, 54);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    #resetBtn{
        padding: 5px;
        width: 70px;
        font-size: 16px;
        font-weight: 600;
        background-color: rgb(255, 106, 0);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
        
/* #hours{
    border: 1px solid;
}
#minute{
    border: 1px solid;
}
#second{
    border: 1px solid;
}
#miliSecond{
    border: 1px solid;
} */